body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f2f7ff;
    padding: 20px;
}
h3 {
    text-align: center;
    font-size: 24px;
    color: #0b3c7d;
    margin-bottom: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1 green, blue, alpha);

}
table {
   border-collapse: collapse;
   background: #ffffff;
   border-radius: 12px;
   overflow: hidden;
   width: 100%;
   box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}
table[border] {
    border: none !important;
}

th {
    background: linear-gradient(90deg, #0b78c4, #0bd49e);
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
}

td {
    padding: 12px 14px;
    border-bottom: 1px solid #d6e8ff;
    font-size: 16px;
    color: #00386b;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background: #f1f7ff;
}

tr:nth-child(odd) {
    background: #ffffff;
}

tr:hover td {
    background: #dff8f0;
    transition: 0.2s;
    cursor: pointer;
}


table[width="100%"] {
    background: none;
    box-shadow: none;
}